@use 'variables';
@use 'mixins';
@use 'functions';
@import 'https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Montserrat:wght@100..900&family=Signika:wght@700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap';

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-primary, sans-serif;
  background-color: variables.$color-background;
  color: variables.$color-text;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  cursor: pointer;
}
