.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;

  &__item {
    grid-column: span 6;

    @include responsive($breakpoint-mobile) {
      grid-column: span 12;
    }
  }
}
