@use "../base/variables";

@use 'sass:color';

.Card {
  position: relative;
  width: 280px;
  height: 500px;

  &-Content {
    position: relative;
    z-index: 2;
    transform: translateY(-20px);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    background: url("/src/assets/images/holo-back.jpg") no-repeat center center;
    background-size: cover;
    width: 240px;
    height: 420px;
    margin: 0 auto;
  }

  &-Back {
    position: absolute;
    top: 0;
    z-index: 1;

    border: 1px solid variables.$color-border;
    border-radius: 8px;
    width: 280px;
    height: 465px;
    object-fit: cover;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 100%;
  }

  &-Header {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: initial;
    padding: 8px;
  }

  &-HoloStar {
    height: 32px;
    width: auto;
    vertical-align: middle;
  }

  &-PriceVolume {
    height: 32px;
    vertical-align: middle;
    margin: 5px 0 0 10px;
    font-size: 14px;
    color: variables.$color-violet-dark;
    font-weight: 500;
  }

  &-PriceVolumeSeparator {
    color: variables.$color-violet-bright;
  }

  &-Image {
    width: 240px;
    height: 220px;
    object-fit: cover;
  }

  &-Description {
    padding: 15px;
  }

  &-Title {
    color: variables.$color-violet-dark;
    font-weight: 600;
    font-size: 15px;
  }

  &-Collection {
    margin-top: 2px;
    color: variables.$color-violet-bright;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }

  &-SocialResults {
    margin-top: 10px;
    display: flex;
    position: relative;
    height: 50px;

    &::after {
      content: '';
      position: absolute;
      top: 30px;
      left: 0;
      width: 200px;
      height: 20px;  /* Grubość dolnego obramowania */
      background: url('/src/assets/images/dotted-separator.png') repeat-x;
      background-size: contain;
    }
  }

  &-Likes {
    display: flex;
    gap: 8px;
    color: #F69BC8;
    font-size: 14px;
    font-weight: 600;
    width: 50%;

    img {
      height: 18px;
      width: auto;
      vertical-align: middle;
    }
  }

  &-Rating {
    display: flex;
    gap: 8px;
    color: #9295DC;
    font-size: 14px;
    font-weight: 600;

    img {
      height: 18px;
      width: auto;
      vertical-align: middle;
    }
  }

  &-Influencer {
    color: variables.$color-violet-dark;
    font-size: 10px;
    font-weight: 600;
    span {
      color: variables.$color-violet-bright;
    }
  }

  &-MenuTrigger {
    position: absolute;
    bottom: 12px;
    left: 12px;
    z-index: 3;
    cursor: pointer;
    padding: 8px;
  }
}
